@model OnlineAccounting.Models.Purchase.PaymentsMade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PaymentsMade</h4>
    <hr />
    <dl class="row">
        @*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentFromAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentFromAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentToAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentToAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptReferance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiptReferance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
