@model OnlineAccounting.Models.Sales.PaymentReceived

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PaymentReceived</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferanceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferanceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositedToAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositedToAccount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
